<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5 text-red-500">Sobre Metálicas Oriental</h2>
    <p class="text-zinc-300 text-2xl text-justify">Llevamos más de 15 años creando productos e instalando en diferentes ubicaciones. Nuestro compromiso es brindar la mejor calidad y servicio a nuestros clientes. Nuestros trabajos han tenido luegar en diferentes ubicaciones, como:</p>
    <div class="flex flex-col text-center items-center justify-center md:flex-row gap-4 mt-10">
        <h3 class="font-bold">Quito</h3>
        <h3 class="font-bold">Latacunga</h3>
        <h3 class="font-bold">Sigchos</h3>
        <h3 class="font-bold">Machachi</h3>
        <h3 class="font-bold">Tambillo</h3>
    </div>
    <img src="/images/logo-metalicas-oriental.png" alt="Metalicas Oriental" class="w-80 rounded-3xl p-1  hover:scale-105 hover:shadow-2xl hover:rotate-1 mt-10 mx-auto"/>
</section>