---
import Layout from "../layouts/Layout.astro"

//Componentes
import Hero from "../components/landing/Hero.astro"
import More from "../components/landing/More.astro";
import Features from "../components/landing/Features.astro";
import Projects from "../components/landing/Projects.astro";
import About from "../components/landing/About.astro";
import Footer from "../components/Footer.astro";
import Contactos from "../components/landing/Contactos.astro";
---

<Layout title="Página Oficial">
	
	<!-- Secciones con IDs correspondientes -->
	<section id="servicios">
		<More />
	</section>
	<section id="modelos">
		<Features />
	</section>
	<section id="about">
		<About />
	</section>
	<section id="project">
		<Projects />
	</section>
	<section id="contactos">
		<Contactos />
	</section>
</Layout>