<footer class="bg-red-900 mx-auto py-10 gap-4 mt-4 rounded-xl">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-let">
        <div class="text-center md:text-left">
            <h4 class="font-bold text-xl">Metálicas Oriental</h4>
            <p><i class="fa-solid fa-envelope"></i> metalicasroiental2015@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> 02 3074516</p>
            <p><i class="fa-solid fa-mobile-screen-button"></i> 0991621748</p>
        </div>
        <div class="text-left">
            <h4 class="font-bold text-xl">Realizado por</h4>
            
            <a href="https://www.linkedin.com/in/luis-alexander-soto-segovia-548322307/"> <i class="fa-solid fa-laptop-code"></i> Alexander Soto</a> <br>
        </div>
    </div>
</footer>