---
const links=[
    { href: '/', label: 'Inicio' },
    { href: '#servicios', label: 'Servicios'},
    { href: '#modelos', label: 'Modelos'},
    { href: '#about', label: 'Sobre Nosotros'},
    { href: '#project', label: 'Proyectos'},
    { href: '#contactos', label: 'Contactos'}
]
---

<div>
  <!-- Navbar con boton hamburguesa -->
  <div class="bg-[#202020] py-3 fixed top-0 left-0 right-0 shadow-md z-50">
    <button id="menu-btn" class="ml-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- Fondo oscuro cuando el menú está abierto -->
  <div id="overlay" class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm z-40"></div>

  <!-- Sidebar -->
  <aside id="sidebar" class="fixed top-0 left-0 bg-[#202020]  min-h-screen sidebar-closed overflow-hidden transition-all duration-300 z-50">
    <div class="pt-3">
      <button id="close-btn" class="ml-4 text-white mb-14">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <div class="space-y-2 px-4">
        {links.map(link => (
          <a href={link.href} class="flex items-center gap-2 text-white text-lg hover:bg-[#ef4444] px-4 py-2 rounded transition-all">
            <span>{link.label}</span>
          </a>
        ))}
      </div>
    </div>
  </aside>

  
</div>
<!-- Importacion de script para el menu de navegacion -->
<script type="module" src="../../src/js/navigation.js"></script>

<style>
  .sidebar-open {
    width: 320px;
  }
  .sidebar-closed {
    width: 0;
  }
</style>